{{> head }}

    {{> navbar }}
    

    <div class="row">
        <div class="col-8">
            <h1>Computadora</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nobis soluta quos libero, laudantium in.</p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/img/computer.jpg" alt="">
        </div>
    </div>

{{> footer }}